* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

#datetime-picker {
  font-size: 20px;
  color: #ed6008;
  text-align: center;
  outline: 1px rgb(15, 15, 14) solid;
  border-radius: 4px;
}

.btn-start {
  font-size: 20px;
  color: #f0d927;
  width: 80px;
  margin-left: 20px;
  background-color: #3fb8ef;
  border-radius: 4px;
  cursor: pointer;
}
.timer {
  display: flex;
  margin-top: 40px;
  margin-left: 20px;
}

.label {
   color: #d61a24; 
}
.field {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  text-align: center;
}

.field + .field {
  margin-left: 30px;
}

.value {
  font-size: 40px;
}
